body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"], form input[type="tel"], form input[type="email"], form input[type="date"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #218838;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

table th, table td {
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #333;
    color: white;
}

.notification {
    background-color: yellow;
    padding: 5px;
    border-radius: 5px;
}

.edit-btn {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 5px;
}

.edit-btn:hover, .delete-btn:hover {
    opacity: 0.8;
}

.btn-search {
    background-color: #007bff; /* Blue color */
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.btn-search:hover {
    background-color: #0056b3; /* Darker blue */
}

.btn-reset {
    background-color: #ff6403; /* Red color */
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.btn-reset:hover {
    background-color: #c62828; /* Darker red */
}
